mixin font-box(content, size)
    .font-box(class='font-box--' + size)
        p(class='font-box__name font-box__name--' + size)=(size === 'body' ? (size.charAt(0).toUpperCase() + size.slice(1)) : size.toUpperCase())
        if size === 'h1'
            h1(class='font-box__title font-box__title--' + size)=content
        if size === 'h2'
            h2(class='font-box__title font-box__title--' + size)=content
        if size === 'h3'
            h3(class='font-box__title font-box__title--' + size)=content
        if size === 'body'
            p(class='font-box__title font-box__title--' + size)!=content


+font-box('This one is the sub-section or widget title', 'h1')
+font-box('Next one is the item title inside widgets', 'h2')
+font-box('THIS IS A LABEL OR CTA TEXT', 'h3')
+font-box('This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.', 'body')